body, html {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrolling */
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.carousel {
    height: 100%;
    width: 100%;
    position: relative;
}

.carousel-item {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-item.active {
    opacity: 1;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the 0.5 as needed to get the level of dimming you want */
}

.info-box {
    position: absolute;
    bottom: 25px;
    right: 20px;
    padding: 20px;
    background-color: white;
    max-width: 300px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    border: 1px solid lightgray;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05); /* This line adds a soft shadow with blur */
}

.top-section {
    display: flex;
    align-items: center;
    margin-bottom: 0px; /* Creates a bit of space between the top section and the headline */
}

.info {
    margin-left: 10px; /* Creates a bit of space between the image and the text */
}

.name {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: -10px;
}

.title {
    font-size: 14px;
    color: gray;
}

.info-box h1 {
    font-size: 18px;
    color: rgb(53, 53, 53);
    line-height: 1.3;
    word-wrap: break-word;
    font-weight: normal;
}

.info-box h2 {
    font-size: 14px; /* Adjust as needed */
    word-wrap: break-word;
    font-weight: normal;
    font-size: 14px;
    color: gray; /* Adjust as needed */
}

a {
    color: #3d72c2;
}

h3 {
    font-size: 14px; /* Adjust as needed */
    word-wrap: break-word;
    font-weight: normal;
    font-size: 14px;
    color: black; /* Adjust as needed */
}

.text-section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    background-color: #e1ebf8;
    border-radius: 10px;
}

.text-section::before {
    content: '';
    position: absolute;
    top: 84px;
    left: 36px; /* Adjust as needed */
    width: 18px;
    height: 18px;
    background: #e1ebf8;
    border-radius: 20%;
    transform: rotate(45deg);
}

.info-box .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px; /* Creates a bit of space between the image and the headline */
}

.button-container {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-top: 10px; /* Adjust as needed */
}

.btn {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 13px;
    color: white;
    background-color: #3d72c2;
    border: 0px solid lightgray;
    border-radius: 20px;
    margin-left: 10px;
    padding: 7px 12px; /* Adjust as needed */
    text-decoration: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.btn:hover {
    background-color: #255296;
    color: white;
}

.primary-btn-container {
    width: auto;
}

.btn-primary {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    color: black;
    background-color: rgb(221, 221, 221);
    border: 1px solid rgb(223, 223, 223);
    border-radius: 20px;
    padding: 5px 10px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.btn-primary:hover {
    background-color: black;
    color: white;
}
