body, html {
    height: 100%;
    margin: 0;
    position: relative;
    min-height: 100vh;
    overflow: hidden; /* Prevent scrolling */
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: rgb(155,164,176);
    background: linear-gradient(18deg, rgba(155,164,176,1) 0%, rgba(212,223,238,1) 100%);
}

.carousel {
    height: 100%;
    width: 100%;
    position: relative;
}

.carousel-item {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel-item.active {
    opacity: 1;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Adjust the 0.5 as needed to get the level of dimming you want */
}

.info-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    max-width: 300px;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    border: 1px solid #d4dfee;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05); /* This line adds a soft shadow with blur */
}

.top-section {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 5px; /* Creates a bit of space between the top section and the headline */
}

.unread-message-dot {
	position: absolute;
    font-size: 11px;
    font-weight: bold;
	top: 0px;
	left: 40px;
	width: 20px;
	height: 20px;
	background-color: #3d72c2;
    color: white;
	border-radius: 50%;
	display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    margin-left: 10px; /* Creates a bit of space between the image and the text */
}

.name {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: -10px;
}

.title {
    font-size: 14px;
    color: gray;
}

.info-box h1 {
    font-size: 17px;
    color: rgb(53, 53, 53);
    line-height: 1.4;
    word-wrap: break-word;
    font-weight: normal;
}

.info-box h2 {
    font-size: 14px; /* Adjust as needed */
    word-wrap: break-word;
    font-weight: normal;
    font-size: 14px;
    color: gray; /* Adjust as needed */
}

a {
    color: #3d72c2;
}

h3 {
    font-size: 14px; /* Adjust as needed */
    word-wrap: break-word;
    font-weight: normal;
    font-size: 14px;
    color: black; /* Adjust as needed */
}

.text-section {
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    background-color: #e1ebf8;
    border-radius: 10px;
}

.text-section::before {
    content: '';
    position: absolute;
    top: 85px;
    left: 38px; /* Adjust as needed */
    width: 18px;
    height: 18px;
    background: #e1ebf8;
    border-radius: 20%;
    transform: rotate(45deg);
}

.info-box .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #d4dfee; /* This applies a black border of 2px around the image */
    object-fit: cover;
    margin-bottom: 10px; /* Creates a bit of space between the image and the headline */
}

.button-container {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-top: 10px;
}

.btn {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 13px;
    color: white;
    background-color: #3d72c2;
    border: 0px solid lightgray;
    border-radius: 20px;
    margin-left: 10px;
    padding: 7px 12px; /* Adjust as needed */
    text-decoration: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.btn:hover {
    background-color: #255296;
    color: white;
}

.openchat-btn {
    width: 100%; /* Make the button span the full width of its container */
    margin-left: 0px;
    padding: 10px 12px; /* Adjust as needed */
    background-color: #3d72c2;
}

.openchat-btn:hover {
    background-color: rgb(19, 19, 19);
}

.text-section, .button-container {
    display: none;
}

.hidden {
    display: none;
}
