.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

body { 
    font-family: 'Helvetica-neue', sans-serif;
    background-color: #fff;
}
.white {
    color: #ffffff;
}
mark {
    
}
#demo {
    font-weight: 600;
}
h1 {
    font-family: 'Helvetica-neue: ;', sans-serif;
    font-weight: 600;
    font-size: 2.3em;
    line-height: 1.2em;
    letter-spacing: -0.5px;
}
@media (max-width: 769px) {
  h1 {
    font-size: 1.8em;
  }
}
.space {
    width: 100%;
    height: 2em;
}
h2 {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.7em;
    color: #484848;
}
h3 {
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1.7em;
    color: #484848;
    letter-spacing: 0.5px;
}
p {
    font-family: 'Helvetica-neue: ;', sans-serif;
    font-size: 1.2em;
    font-weight: 100;
    line-height: 1.7em;
    color: #484848;
}
a {
    color: #fe5196;
}
.start {
    background: linear-gradient(270deg, #fe5196, #f77062);
    background-size: 400% 400%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    -o-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;  
}

@-webkit-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@keyframes AnimationName { 
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}

.end {
    background: linear-gradient(270deg, #30CFD0, #330867);
    background-size: 400% 400%;
    -webkit-animation: AnimationName2 30s ease infinite;
    -moz-animation: AnimationName2 30s ease infinite;
    -o-animation: AnimationName2 30s ease infinite;
    animation: AnimationName2 30s ease infinite;  
}
.grey {
    background: linear-gradient(270deg, #3B3B3B, #3B3B3B);
    background-size: 400% 400%;
    -webkit-animation: AnimationName2 30s ease infinite;
    -moz-animation: AnimationName2 30s ease infinite;
    -o-animation: AnimationName2 30s ease infinite;
    animation: AnimationName2 30s ease infinite;  
}
@-webkit-keyframes AnimationName2 {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-moz-keyframes AnimationName2 {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@keyframes AnimationName2 { 
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}

.logo {
    width: 100px;
    margin-top: 4vh;
    margin-bottom: 4vh;
}
.flex-container {
    justify-content: space-around;
}
.flex-item {
    
}
.phone {
   max-height: 65vh;
   padding-top: 20px;
   padding-bottom: 20px;
   overflow: hidden;
}

.make-an-i-os-app-that {
    font-weight: bold;
	max-width: 580px;
	text-align: left;
	color: #fff;
}
.we-made-it-easy-for {
    margin-top: 25px;
    max-width: 500px;
	line-height: 1.5;
    text-align: left;
    color: #fff;
}
.be-the-first {
    margin-top: 50px;
    color: #fff;
}

.input-container{
    width: 100%;
}
input[type=text] {
    width: 100%;
    padding: 10px 17px;
    margin-bottom: 10px;
    box-sizing: none;
    background-color: transparent;
	height: 35px;
	border-radius: 7px;
    border: solid 1px #ffffff;
    color: #fff;
    outline: none;
}
input[type=submit] {
    width: 100%;
	height: 35px;
	border-radius: 7px;
    background-color:#007AFF;);
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    text-decoration: none;
    transition: all .15s ease;
}

@media (min-width: 440px) {
    .input-container {
    width: 380px;
    }
    input[type=text] {
    width: 260px;   
    }
    input[type=submit] {
    width: 100px;
    margin-left: 10px;
    }
    .text-padding {
    max-width: 250px;
    }
    .right {
    text-align: right;
    float: right;
    clear: both;
    }
    .text-top {
        padding-top: 15vh;
    }
}

.boxes {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
}
@media (max-width: 769px) {
    .boxes {
    padding-left: 40px;
    }
    .text-padding {
    max-width: 250px;
    margin-right: 35px;
    margin-left: 55px;
    }
}

hr {
    color: #484848;
}