.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

body { 
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    font-weight: 300;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2.8em;
    line-height: 1.8em;
    letter-spacing: -1px;
}
h2 {
    font-size: 2.2em;
    font-weight: 300;
    line-height: 1.7em;
    color: #000;
}
h3 {
    color: #000;
    font-weight: 300;
    font-size: 1.6em;
    line-height: 1.7em;
    font-weight: 300;
}
h4{
    font-size: 1.4em;
    font-weight: 300;
    font-weight: 300;
    line-height: 1.8em;
}
h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2em;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 3px;
}
p {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.7em;
}
ul {
    padding-left: -100px;
}
q {
    color: #164591;
    font-weight: 100;
    font-size: 1.8em;
    line-height: 33px;
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 4%;
}
mark {
    color: #333;
    background-color: #f4f4f4;
}
ol {
    color: #000;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 25px;
}
ul {
    color: #000;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 25px;
}
a{
    color: inherit;
    font-weight: inherit;
    text-decoration: underline;
    font-size: inherit;
    cursor: pointer;
}
a:hover{
    color: #444;
    text-decoration: underline;
    font-weight: inherit;
    font-size: inherit;
    cursor: pointer;
}
.maxwidth{
    max-width: 500px;
}
a.important{
    color: #333;
    background-color: #fff;
    font-weight: inherit;
    text-decoration: none;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 9px;
    opacity: 0.8;

}
a.important:hover{
    color: #fff;
    background-color: #eee;
    font-weight: inherit;
    text-decoration: none;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 9px;
}
a.alternate{
    color: #000;
    background-color: #fff;
    font-weight: inherit;
    text-decoration: none;
    cursor: pointer;
    font-size: 10pt;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 9px;
    opacity: 0.8;
}
a.alternate:hover{
    color: #fff;
    background-color: #eee;
    font-weight: inherit;
    text-decoration: none;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 9px;
}
a.alternate::active{
    color: #fff;
    background-color: #EF5350;
    font-weight: inherit;
    text-decoration: none;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 9px;
}

a.alternate-grey{
    color: #000;
    background-color: #f1f1f1;
    font-weight: inherit;
    text-decoration: none;
    cursor: pointer;
    font-size: 10pt;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 9px;
    opacity: 0.8;
}
a.alternate-grey:hover{
    color: #fff;
    background-color: #EF5350;
    font-weight: inherit;
    text-decoration: none;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 9px;
}
a.alternate-grey::active{
    color: #fff;
    background-color: #EF5350;
    font-weight: inherit;
    text-decoration: none;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 9px;
}

.menu-top{
    position: fixed;
    height: 40px;
    width: 100%;
    background-color: none;
    z-index: 9;
}
.menu-text {
    text-align: right;
    margin-right: 2%;
    margin-top: 15px;
}
.menu-text-padding{
    padding-right: 15px;
}
.text-box-title-small-padding{
    margin-top: 80px;
}
.white {
    color: white;
}
.white-bg {
    background-color: white;
}
.red {
    color: #EF5350; 
}
.dark-grey-bg {
    background-color: #666;
}
.grey {
    color: #999;
}
.small-text {
    font-size: 0.9em;
}
.light-grey {
    color: #D7D7D7;
}
.credit-maxwidth{
    max-width: 650px;
    margin: 0 auto;
}
.merritweather {
  font-family: 'Merriweather', serif;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.carl-portraet{
    background-image: url('../img/Carl.Stairs.sharp.bw.jpg');
    background-repeat:repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:top center;
    min-height: 80vh;
}
.carl-portraet-2{
    background-image: url('../img/carl_portraet-2.jpg');
    background-repeat:repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:top left;
    min-height: 50vh;
    z-index:3;
}
.work{
    background-color: #eee;
    background-repeat:repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center right;
    min-height: 100vh;
}
.start {
    background-color: #fff;
    height: 65vh;
    max-height: 500px;
    min-height: 450px;
}
.subheading-textbox {
    padding-top: 25px;
}
.explore{
    cursor:pointer;
}
.case-expand-button-container{
    position: absolute;
    bottom: 25px;
    left: 0;
    text-align: center;
    width: 100%;
    opacity: 0.6;
}
.expand-button {
    width: 20px;
}
.case-close-button-container{
    width: 50%;
    margin: 0 auto;
    padding-top: 15px;
}
.case-close-button {
    text-align: center;
}
.expand-button{
    width: 12px;
}
.expand-button-text {
    font-size: 0.9em;
    margin-bottom: 0;
}
.arrow-container{
    width: 50%;
    margin: 0 auto;
}
.arrow-down-header{
    padding-top: 15px;
    position: relative;
    bottom: 0;
}
.case-style {
    background-color: #f1f1f1;
    min-height: auto;
    padding: 5%;
    padding-top: 20px;
    padding-bottom: 7%;
}
.case-style-donkey {
    background-color: #425D78;
    min-height: auto;
    padding: 5%;
    padding-top: 20px;
    padding-bottom: 7%;
}
.case-style-husky{
    background-color: #222;
    min-height: auto;
    padding: 5%;
    padding-top: 20px;
    padding-bottom: 7%;
}
.case-style-whitepike{
    background-color: #FEFFD0;
    min-height: auto;
    padding: 5%;
    padding-top: 20px;
    padding-bottom: 7%;
}
.case-logo-veridu { 
    display:block;
    margin:auto;
    padding-top: 3%;
    width: 150px;
}
.case-logo-veridu-big { 
    display:block;
    margin:auto;
    padding-top: 3%;
    width: 220px;
}
.case-logo-donkey { 
    display:block;
    margin:auto;
    padding-top: 3%;
    width: 50px;
}
.case-logo-donkey-big { 
    display:block;
    margin:auto;
    padding-top: 3%;
    width: 160px;
}
.case-logo-husky { 
    display:block;
    margin:auto;
    padding-top: 3%;
    width: 180px;
}
.case-logo-husky-big { 
    display:block;
    margin:auto;
    padding-top: 3%;
    width: 280px;
}
.case-logo-whitepike {
    display:block;
    margin:auto;
    padding-top: 3%;
    max-width: 30vw;
}
.case-logo-whitepike-small {
    display:block;
    margin:auto;
    padding-top: 3%;
    max-width: 55vw;
}
.case-1-description-desktop {
    padding: 5% 22% 5% 22%;
}
.case-1-description-mobile {
    padding: 10% 10% 10% 10%;
}
.top{
    z-index:9;
    position: relative;
}
.med{
    z-index:8;
    position:fixed;
}
.low{
    z-index:-1;
    position: relative;
}
.divider-small{
    height: 10px;
}
.divider-medium{
    height: 20px;
}
.divider-large{
    height: 30px;
}
.divider-header{
    height: 4vh;
}
.divider-xlarge{
    height: 30px;
}
.divider-p-header{
    height: 0vh;    
}
.small-info-header{
    border-top: 10px;
    border-top-color: #000;
}
.icon-position{
    margin-bottom: -103px;
}
.white-bgimg{
    background-color: #eee;
    min-height: 400px;
}
.bg-grey{
    background-color: #eee;
}
.dropbox-logo{
    max-width: 170px;
}
.whitepike-logo{
    max-width: 270px;
}
.whitepike-logo-small{
    max-width: 220px;
}
.veridu-logo{
    width: 105px;
}
.donkey-logo{
    width: 90px;
}
.rblm-logo{
    width: 205px;
}
.dmjx-logo{
    width: 245px;
}
.nike-logo{
    width: 105px;
}
.husky-logo{
    width: 180px;
}
.maxwidth-small{
    max-width: 350px;
}
.maxwidth-big{
    max-width: 1050px;
}
.maxwidth-med{
    max-width: 665px;
}
.maxwidth-p{
    max-width: 49vw;
}
.maxwidth-biggest{
    max-width: 550px;
}
.work-title{
    float: bottom;
    margin-right: 7%;
    margin-left: 7%;
    margin-top: 50px;
    height: 40px;
}
.text-container{
    float: bottom;
    padding-right: 8%;
    padding-left: 8.2%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #eee;
}
.veridu {
    overflow: hidden;
    position: relative;
    height: 70vh;
    max-height: 450px;
    min-height: 240px;
}
.veridu:after{
    content: '';
    z-index: -1;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../img/veridu.2.jpg');
    background-repeat:repeat;
    /*-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;*/
    transition: transform .35s ease-out, opacity .25s ease-out;
    background-size: cover;
    background-position:center center;
}
.veridu:hover:after {
    transform: scale(1.04);
    opacity: 0.95;
    
}
.donkey {
    overflow: hidden;
    position: relative;
    height: 70vh;
    max-height: 450px;
    min-height: 240px;
}
.donkey:after{
    content: '';
    z-index: -1;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../img/donkey/donkey.png');
    background-repeat:repeat;
    /*-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;*/
    transition: transform .35s ease-out, opacity .25s ease-out;
    background-size: cover;
    background-position:center center;
}
.donkey:hover:after {
    transform: scale(1.04);
    opacity: 0.95;
    
}
.husky {
    overflow: hidden;
    position: relative;
    height: 70vh;
    max-height: 450px;
    min-height: 240px;
}
.husky:after{
    content: '';
    z-index: -1;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../img/husky.bg.jpg');
    background-repeat:repeat;
    /*-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;*/
    transition: transform .35s ease-out, opacity .25s ease-out;
    background-size: cover;
    background-position:center center;
}
.husky:hover:after {
    transform: scale(1.04);
    opacity: 0.95;
}

.whitepike {
    overflow: hidden;
    position: relative;
    height: 70vh;
    max-height: 450px;
    min-height: 240px;
}
.padding top{
    margin-top: 55px;
}
.black {
    color: #000;
}
.whitepike:after{
    content: '';
    z-index: -1;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../img/whitepike/whitepike.bg.jpg');
    background-repeat:repeat;
    /*-webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;*/
    transition: transform .35s ease-out, opacity .25s ease-out;
    background-size: cover;
    background-position:center center;
}
.whitepike:hover:after {
    transform: scale(1.04);
    opacity: 0.95;
}
.tiger{
    background-image: url('../img/work/tiger.jpg');
    height: 70vh;
    max-height: 450px;
    min-height: 240px;
    background-position:center left;
}
.nike{
    background-image: url('../img/work/nike.jpg');
    height: 70vh;
    max-height: 450px;
    min-height: 240px;
    background-position:center ;
}
.logo{
    position: absolute;
    top: 40px;
    margin-left: 20px;

}
.boarder-right{
    position: absolute;
    background-color: #fff;
    width: 3px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}
.boarder-right-white{
    position: absolute;
    background-color: #fff;
    width: 3px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}
.border-bottom-white{
    position: absolute;
    background-color: #fff;
    height: 5px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
.border-top-white{
    position: absolute;
    background-color: #fff;
    height: 5px;
    top: 0px;
    right: 0px;
    left: 0px;
}
.border-top-black{
    position: absolute;
    background-color: #e1e1e1;
    height: 1px;
    bottom: 0px;
    right: 10px;
    left: 13px;
}
.border-white{
    background-color: #fff;
    height: 5px;
}
.border-bottom-red{
    position: absolute;
    background-color: #fff;
    height: 3px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
.top-title-box{
    padding-top: 3%;
}
.text-box{
    top: 60px;
    padding-left: 7%;
    padding-right: 7%;
}
.close-button-link{
    color: #000;
}
.close-button-link-negative{
    color: #fff;
}
.arrow-container{
    width: 50%;
    height: 35px;
    margin: 0 auto;
    _position:absolute;
} 
.arrow-down{
    position: absolute;
    width: 50%;
    text-align: center;
    bottom: 90px;
}
.text-box-title{
    padding-bottom: 25px;
    padding-left: 7%;
}
.text-box-footer{
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 7%;
}
.text-box-white{
    background-color: #fff;
}
.link-icon{
    vertical-align: text-top;
}
.tags{
    position: absolute;
    padding-top: 20px;
    right: 7%;
}
.tags-left{
    position: absolute;
    padding-top: 20px;
    left: 9%;
}

 .donkey-first-look-phone{
     max-width: 1000px;
     margin: auto;
 }