* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; /* Ensures full height for flexbox layout */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This ensures the content is spread evenly, pushing the .container to the bottom */
    background-color: #fff;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 800px) {
    body {
        max-width: 100%;
    }
}

.dot {
    height: 50vw;
    width: 50vw;
    border-radius: 50%;
    position: fixed;
    top: -25vw;
    left: 25%;
    background-color: #FFD39E;
    position: fixed;
    z-index: -1;
  }

/* TEXT */

p {
    line-height: 1.5;
    font-weight: 400;
    color: #8b8b8b;
}

a {
    line-height: 1.5;
    font-weight: 400;
    color: #8b8b8b;
}

a:hover {
    line-height: 1.5;
    font-weight: 400;
    color: #686868;
}

/* INTRO HEADER */

.header {
    margin: 20px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    background-color:none;
}

.header-image {
    width: 100%;
    height: 400px;
    min-height: 300px;
    margin-right: 30px;
    background-color: #cfcece;
    background-image: url("https://miro.medium.com/v2/resize:fit:2400/1*NlIDD7E76YW0sDpAU-Nzjw.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.intro-header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px;
    width: 100%;
}

.logo-text {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #5a5a5a;
}

.about-text {
    font-size: 16px;
    font-weight: 400;
    color: #8b8b8b;
    line-height: 1.5;
    max-width: 600px;
}

/* DRAWER SECTION */

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 40px;
    margin: 0 auto;
    margin-top: auto; /* This pushes the container to the bottom */
    flex-shrink: 0; /* Prevent the container from shrinking */
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

.list-header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.808);  
    backdrop-filter: blur(5px);
    color: rgb(70, 70, 70);
    padding: 20px 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 0px 0px 0px 0px;
    overflow: hidden;
    border: 2px rgb(209, 209, 209);
    border-style: solid none none none;
}

.list-header:hover {
    background-color: rgba(245, 245, 245, 0.801);  
    backdrop-filter: blur(5px);
}

@media only screen and (max-width: 600px) {
    .list-header:hover {
        background-color: rgba(255, 255, 255, 0.801);  
        backdrop-filter: blur(0px);
    }
}

.list-header-1 {
    font-weight: 700;
    line-height: 1.5;
}

.list-header-2 {
    font-weight: 400;
    line-height: 1.5;
    color: #8b8b8b;
}

.list-content {
    cursor: pointer;
    max-height: 0;
    overflow: hidden;
    padding: 0 0;
    transition: max-height 0.3s ease-out, padding 0.5s ease-out;
}

.list-container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    padding-bottom: 50px;
    padding-top: 30px;
    gap: 30px;
}

.list-group {
    margin-bottom: 0px;
}

@supports (position: sticky) {
    .list-header {
        position: sticky;
        top: 0;
    }
}

/* CONTENT LAYOUT */

.layout-row {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

@media only screen and (max-width: 800px) {
    .layout-row {
        flex-direction: column;
    }
}

.layout-row-2 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

@media only screen and (max-width: 800px) {
    .layout-row-2 {
        flex-direction: row;
    }
}

@media only screen and (max-width: 800px) {
    .hide-on-mobile {
        display: none;
    }
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.2s ease;
}
img {
    transition: transform 0.2s ease;
}
.list-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
}

/* IMAGES */

.img-1 {
    width: 100%;
    height: auto;
}
